/* Estilos generales */
body {
	background-color: #f4f6f9;
	font-family: Arial, sans-serif;
}

.app-container {
	max-width: 1200px;
	margin: auto;
	padding: 20px;
	text-align: center;
}

.app-title {
	font-size: 2.5rem;
	color: #333;
	margin-bottom: 30px;
	font-weight: bold;
}

/* Estilos para las tarjetas del índice */
.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 30px;
	justify-content: center;
	padding: 20px;
}

.index-card {
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	display: flex;
	flex-direction: column;
	overflow: visible;
}

.index-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.card-body {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	z-index: 1;
	background-color: #fff;
	position: relative;
}

.card-title {
	font-size: 1.25rem;
	color: #ff7043;
	/* Naranja suave */
	font-weight: bold;
	margin-bottom: 15px;
}

.card-text {
	color: #555;
	margin-bottom: 20px;
	flex-grow: 1;
}

/* Estilos para botones y dropdowns */
.btn-primary {
	background-color: #ff7043;
	/* Naranja suave */
	border: none;
	width: 100%;
}

.btn-primary:hover {
	background-color: #e64a19;
}

.index-card .dropdown {
	position: static;
}

.index-card .dropdown-menu {
	position: absolute;
	width: 100%;
	z-index: 1050;
	max-height: 200px;
	overflow-y: auto;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 0 0 8px 8px;
}

.dropdown-menu.show {
	display: block !important;
}

.dropdown-toggle.show {
	z-index: 1051;
}

/*.dropdown-item:hover {
	background-color: #f8f9fa;
}*/

/* Estilos para formularios */
.form-label {
	font-weight: bold;
	color: #333;
}

.form-control:focus {
	border-color: #ff7043;
	box-shadow: 0 0 0 0.2rem rgba(255, 112, 67, 0.25);
}

/* Estilos para tablas */
.table {
	background-color: #fff;
	box-shadow: 0 2px 4;
	}
	
.zindex{
	z-index: 1051 !important;
}
