<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actualizar Clima</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Actualizar Clima para <span th:text="${ciudad.nombre}"></span></h1>
        <form th:action="@{/ciudades/actualizar-clima/{id}(id=${ciudad.id})}" method="post">
            <div class="mb-3">
                <label for="nuevoClima" class="form-label">Nuevo Clima:</label>
                <select id="nuevoClima" name="nuevoClima" class="form-select" required>
                    <option th:each="clima : ${T(com.tuti.desi.enums.Clima).values()}" 
                            th:value="${clima}" 
                            th:text="${clima}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Actualizar Clima</button>
			<a class="btn btn-secondary" th:href="@{/ciudades}">Volver a la Lista de Ciudades</a>
		
        </form>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>